@model DMS_v2.Models.UserPrivilege

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserPrivilege</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Privilege.PrivilegeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privilege.PrivilegeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
