@model DMS_v2.Models.Deactivation

@{
    ViewBag.Title = "Activate Account";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <div class="container">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">

            <!-- Widget starts -->
            <div class="panel panel-primary">
                <!-- Widget head -->
                <div class="panel-heading">
                    <i class="fa fa-question-circle"></i> Attention!
                </div>

                <div class="panel-body">
                    <div class="padd error">

                        <h3>Account Activation.</h3>
                        <br />
                        @if (ViewBag.CustomErrorMessage != null)
                        {
                            <text>
                                <div class="bs-docs-example">
                                    <div class="alert alert-block alert-danger fade in">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4 class="alert-heading">Attention!</h4>
                                        <p>@ViewBag.CustomErrorMessage</p>
                                    </div>
                                </div>

                            </text>
                        }
                        @if (ViewBag.CustomSuccessMessage != null)
                        {
                            <text>
                                <div class="bs-docs-example">
                                    <div class="alert alert-block alert-info fade in">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4 class="alert-heading">Attention!</h4>
                                        <p>@ViewBag.CustomSuccessMessage</p>
                                    </div>
                                </div>
                            </text>
                        }
                        <table class="table table-bordered" style="border:1px solid #eeeeee">

                            <tr>
                                <td>Employee Name </td>
                                <td><strong style="font-size:small">&nbsp; @Model.Registration.LastName, @Model.Registration.FirstName</strong></td>
                            </tr>

                
                        </table>
                        <br />
                        <h5 style="color:red; font-weight:600">
                            Are you sure you want to activate this account?
                            <br />
                            click "<strong>Activate</strong>" to continue.
                        </h5>
                        <br />
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Hidden("RegistrationId", Model.RegistrationId)
                                <center>
                                    <div class="container-fluid">
                                        <button class="btn btn-success btn-block" type="submit">Activate</button> <br />
                                        <a href="@Url.Action("Details","Registration", new { id = Model.Registration.Id})" class="btn btn-primary btn-block">Cancel</a>
                                    </div>

                                </center>

                            </div>
                        </div>

                    </div>
                    <div class="widget-foot">
                        <!-- Footer goes here -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">

        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">


        $('.req').prop('required', true);


    </script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

}